# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.env
*.venv
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Model files and large data
*.h5
*.hdf5
*.ckpt
*.pb
*.tflite

# FastAPI/Uvicorn logs
*.db
*.sqlite3
logs/
*.log

# Pytest cache
.pytest_cache/
.cache/

# Pycharm
.idea/

# Static/Build folders
static/uploads/
build/
dist/

# Virtual environment folders
.Python
pip-log.txt
pip-delete-this-directory.txt

# HTML preview cache
*.html~

registery/
